.ig-feed {
	width: 50%;
	position: relative;
	float: right;
	display: flex;
	flex-flow: row wrap;
	&__gallery {
		position: relative;
		width: 100%;
		margin: 0 auto;
		min-height: 80vh;
		padding-bottom: 40px;
		@media (max-width: 780px) {
			min-height: 20vh;
		}
	}
	background-color: #000;
	@media (max-width: 780px) {
		width: 100%;
	}
}

.no-content {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0; right: 0;
	bottom: 0; left: 0;
	z-index: 99;
	visibility: hidden;
	span {
		transform: translateY(-10px); // adjust for "footer"
	}
}

.options-bar {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	background-color: #EEEEEE;
	@media (max-width: 480px) {
		flex-direction: column;
		align-items: center;
	}
}

.hashtag-search {
	display: flex;
	flex-flow: row nowrap;
	width: 50%;
	> * {
		height: 45px;
	}
	@media (max-width: 480px) {
		width: 100%;
	}
	&__field {
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #333;
		padding-left: 15px;
		border: 1.5px solid #666;
	}
	&__submit {
		background-color: transparent;
		border: none;
		width: 45px;
		font-size: 16px; // magnifying class
	}
}

.hashtag-search__curr {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	background-color: transparent;
	@media (max-width: 480px) {
		width: 100%;
	}
	button {
		background-color: transparent;
		border: none;
	}
	i {
		color: red;
		margin-right: 3px;
	}
}

.filters-toggle {
	width: 100%;
	height: 45px;
	background-color: transparent;
	border: none;
	i {
		margin-right: 5px;
	}
}

ul.filters {
	position: relative;
	z-index: 20;
	width: 100%;
	display: none;
	flex-flow: row wrap;
	background-color: #FFF;
	clear: both;
	&--visible {
		display: flex;
	}
	li {
		width: 50%;
	}
}

button.location {
	padding: 10px 0px 10px 15px;
	font-weight: 300;
	font-size: 14px;
	color: #777;
	background-color: transparent;
	border: none;
	text-align: left;
	&--selected {
		font-weight: 500;
		color: #333;
	}
}

.container {
	position: relative;
	width: 33.33%;
	padding-top: 33.33%;
	float: left;
	overflow: hidden;
	&__image {
		position: absolute;
		top: 0;
	}
	@media (max-width: 1040px) {
		width: 50%;
		padding-top: 50%;
	}
	@media (max-width: 780px) {
		width: 33.33%;
		padding-top: 33.33%;
	}
	@media (max-width: 480px) {
		width: 50%;
		padding-top: 50%;
	}
}

img {
	max-width: 100%;
	display: block;
}

.copyright {
	position: absolute;
	right: 0; 
	bottom: 0;
	display: flex;
	align-items: center;
	height: 40px;
	padding-right: 20px;
	span {
		color: #D6D6D6;
		font-size: 12px;
	}
}