.options-bar {
	width: 100%;
	height: 45px;
	background-color: #EEEEEE;
	// > * {
	// 	height: 45px;
	// }
	button {
		background-color: transparent;
		border: none;
		// border: 1px solid black;
	}
}

.hashtag-search {
	float: left;
	> * {
		height: 45px;
	}
	&__field {
		width: 250px;
	}
	&__submit {
		background-color: transparent;
		border: none;
		width: 45px;
	}
}

.hashtag-search__curr {
	margin-left: 10px;
	display: flex;
	align-items: center;
	float: left;
	height: 45px;
	background-color: transparent;
	button {
		color: red;
		margin-right: 5px;
	}
}

.filters-toggle {
	float: right;
	height: 45px;
}

.ig-feed {
	position: relative;
	float: right;
	display: flex;
	flex-direction: column;

	height: 2000px;

	// justify-content: center;
	&__gallery {
		// width: calc(100% - 20px);
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
	}
	background-color: darkcyan;
}

.content-refresh {
	float: right;
}

ul.filters {
	position: relative;
	z-index: 20;
	width: 100%;
	height: 250px;
	display: none;
	flex-flow: column wrap;
	background-color: #000;
	opacity: 0.75;
	clear: both;
	&--visible {
		display: flex;
	}
	li {
		width: 50%;
		color: #FFF;
	}
}

.container {
	position: relative;
	width: 33.33%;
	padding-top: 33.33%;
	// width: calc(33.33% - 20px);
	// padding-top: calc(33.33% - 20px);
	// margin: 0px 10px 10px 10px;
	overflow: hidden;
	&__image {
		position: absolute;
		top: 0;
	}
}

img {
	max-width: 100%;
	display: block;
}