.map-view {
	width: 35%;
	position: fixed;
	top: 90px;
	display: flex;
	justify-content: center;
	&__search-bar {
	z-index: 10;
		&__search {
		}
	}
	&__search-box {
		background: url("../../imgs/search_grey.svg") no-repeat;
		background-size: 16px;
		background-position: 3% 50%;
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 45px;
		background-color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #333;
		padding-left: 40px;
		margin-top: 10px;
		margin-left: 15px;
		width: calc(100% - 30px);
		border: 1.5px solid #666;
	}
	@media (max-width: 780px) {
		width: 100%;
		position: relative;
		top: initial;
		max-height: 65vh;
	}
}

.map-container {
	display: flex;
	width: 100%;
	height: calc(100vh - 80px);
	border: 0;
	@media (max-width: 780px) {
		
	}
}