.map-view {
	position: fixed;
	top: 90px;
	display: flex;
	justify-content: center;
	background-color: olive;
	&__search-bar {
	// position: absolute;
	z-index: 10;
		&__search {

		}
		&__submit {

		}
	}
	&__search-box {
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 45px;
		background-color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #333;
		padding-left: 15px;
		margin-top: 10px;
		margin-left: 15px;
		width: calc(100% - 30px);
	}
}

.map-view * {
	overflow: visible;
}

.map-container {
	display: flex;
	// width: calc(100% - 20px);
	width: 100%;
	height: calc(100vh - 80px);
	border: 0;
}